[submodule "base"]
	path = base
	url = ../base-port-netbsd
	branch = main
[submodule "common"]
	path = common
	url = ../common-port
	branch = main
[submodule "graphics3d"]
	path = graphics3d
	url = ../graphics3d-port
	branch = main
